h1{
    color:red;
}
body {
  margin: 0px;
  padding: 0px;
}

.navbar{
  background-color:#444;
  padding: 10px;
}

.navbar a{
  color:#fff;
  padding: 10px;
  text-decoration: none;
}
.navbar a:hover{
  background-color: #ddd;
  color: black;
}